$page-background: #1F1F1F;

$element-bg-neutral: #010101;
$element-bg-neutral-hover: #131313;
$element-bg-neutral-active: #1E1E1E;

$accent: #94DDC9;
$accent-hover: #3AB694;
$accent-active: #329C7F;
$accent-a10: rgba(148, 221, 201, 0.1);
$accent-a20: rgba(148, 221, 201, 0.2);
$accent-a35: rgba(148, 221, 201, 0.35);
$accent-a50: rgba(148, 221, 201, 0.5);
$accent-a75: rgba(148, 221, 201, 0.75);

$accent-alpha: #F8F800;
$accent-alpha-a10: rgba(248, 248, 0, 0.1);
$accent-bravo: #4F63FF;
$accent-bravo-a10: rgba(79, 99, 255, 0.1);

$error-red: #EB2163;
$error-red-a50: rgba(235, 33, 99, 0.5);
$error-red-a20: rgba(235, 33, 99, 0.2);

$warning-yellow: #FFF44E;

$info-blue: #285BCC;
$info-blue-a20: rgba(40, 91, 204, 0.2);

$default-transition-duration: 100ms;
