$accent: #94DDC9;
$accent-active: #59CAAB;
$accent-a20: rgba(148, 221, 201, 0.2);
$accent-a50: rgba(148, 221, 201, 0.5);

$error-red: #EB2163;
$error-red-a20: rgba(235, 33, 99, 0.2);
$error-red-a50: rgba(235, 33, 99, 0.5);

$default-transition-duration: 100ms;
