.width-cap {
    margin: 0 auto;
    padding: 0 20px;
    width: calc(100% - 40px);
    max-width: 1024px;
}

@include media-breakpoint-down(sm) {
    .width-cap {
        padding: 0 8px;
        width: calc(100% - 16px);
    }
}

.text-center {
    text-align: center;
}

$layout-multipliers: 1, 2, 3, 4;

@each $margin in $layout-multipliers {
    .mt-#{$margin}x {
        margin-top: #{8 * $margin}px;
    }
    .mb-#{$margin}x {
        margin-bottom: #{8 * $margin}px;
    }
    .ml-#{$margin}x {
        margin-left: #{8 * $margin}px;
    }
    .mr-#{$margin}x {
        margin-right: #{8 * $margin}px;
    }
    .mx-#{$margin}x {
        margin-right: #{8 * $margin}px;
        margin-left: #{8 * $margin}px;
    }
    .my-#{$margin}x {
        margin-top: #{8 * $margin}px;
        margin-bottom: #{8 * $margin}px;
    }
}
