@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&display=swap');
@import 'layout.scss';

body {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
    background-color: $page-background;
    color: white;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #444 transparent;
}

p {
    font-size: 1.1em;
}

a {
    color: $accent;

    &:active {
        color: $accent-active;
    }
}
